# Homework (part 1) – Dictionaries, Access Data

The goal for this homework is to see the relevant journalistic uses for what we learned in class in week 2.

1. access specific data within a dataset,
2. break down larger datasets into smaller chunks (subset),

dQuestion 1
Create a list of dictionaries called "donations" using the content from the image below:
donors.png





You may copy and paste the content from this Excel file（https://docs.google.com/spreadsheets/d/1WVWEJDsGs8Phj2qyoCvTqb7U9VNY7fWB/edit#gid=1893485446）, but you must manually build the dictionaries.

In [5]:
donations = {
    "year": [2017, 2013, 2016, 2012, 2017],
    "donor" : ["David H Koch Charitable Foundation", "Bradley Impact Fund Inc", "Mercer Family Foundation", "Charles Koch Foundation", "Barbara And Barre Seid Foundation"],
    "grantee" : ["City Center For Music And Drama", "Young Americas Foundation", "The Becket Fund", "The Phillips Foundation", "Boys Scouts of America"],
    "amount" : [15000000, 11000, 250000, 25000, 2634600]
}

donations.get("year")

[2017, 2013, 2016, 2012, 2017]

### answer question 1 here (create more cells if necessary)

Natural disasters list
The Small Business Administration has a list of natural disasters that cause extensive economic damage. Run the next cell to pull the list into memory

# Solutions

Help for Pandas: https://pandas.pydata.org/docs/user_guide/10min.html

In [6]:
disasters = [
        "Landslides",
        "Earthquake",
        "Wildfires",
        "Tornadoes",
        "Hurricane",
        "Wind Storm",
        "Winter Freeze",
        "Ice Storm",
        "Drought",
        "Tsunami",
        "Flash floods",
        "Mudslides",
        "Torrential rainfall",
        "Riverine floods",
        "Tidal Surge"
         ]

In [7]:
## call the disaster list here
disasters

['Landslides',
 'Earthquake',
 'Wildfires',
 'Tornadoes',
 'Hurricane',
 'Wind Storm',
 'Winter Freeze',
 'Ice Storm',
 'Drought',
 'Tsunami',
 'Flash floods',
 'Mudslides',
 'Torrential rainfall',
 'Riverine floods',
 'Tidal Surge']

In [8]:
## the first item in the list
print(disasters[0])

Landslides

In [10]:
## call the penultimate item (without manually counting the number of items)
print(disasters[len(disasters)-2])

Riverine floods

Clarification:
For the next two questions, I am referring to numerical positions rather than zero-indexed positions. In other words, you will have to translate the numerical position into zero-indexed positions in your slicing.

In [13]:
## create a new list called disasters_subset that holds the 3rd to 6th items inclusive
disasters_subset = disasters[2:6]

disasters_subset

['Wildfires', 'Tornadoes', 'Hurricane', 'Wind Storm']

In [14]:
## create a new list called disasters_subset2 that holds the 2nd through 8th items
disasters_subset2 = disasters[1:8]

disasters_subset2

['Earthquake',
 'Wildfires',
 'Tornadoes',
 'Hurricane',
 'Wind Storm',
 'Winter Freeze',
 'Ice Storm']

You realize that the disasters from "Tsunami" to the end of the list are forms of water damage.

Programmatically create a new list called water_incidents that includes all the disasters from "Tsunami" to "Tidal Surge".

Do NOT manually count to figure out the index position of "Tsunami".
Do NOT manually type out a new list.

In [15]:
### answer here (create more cells if necessary)
## we can figure out the position for "Tsunami" without manually counting it.
water_incidents = disasters[disasters.index("Tsunami"):(disasters.index("Tidal Surge")+1)]

water_incidents

['Tsunami',
 'Flash floods',
 'Mudslides',
 'Torrential rainfall',
 'Riverine floods',
 'Tidal Surge']

In [24]:
## in one line we can call the index position all the way to the end.

['Landslides',
 'Earthquake',
 'Wildfires',
 'Tornadoes',
 'Hurricane',
 'Wind Storm',
 'Winter Freeze',
 'Ice Storm',
 'Drought',
 'Tsunami',
 'Flash floods',
 'Mudslides',
 'Torrential rainfall',
 'Riverine floods',
 'Tidal Surge']

Accessing data in dictionaries
The following dictionary holds all congressional committees.

In [17]:
## run this cell

ag_com = {'committee_name': 'Agriculture',
          'branch': 'house',
          'chair': 'GLENN "GT" THOMPSON',     
  'link': 'https://www.congress.gov/committee/house-agriculture/hsag00'}

In [18]:
## CALL THE DICTIONARY
ag_com

{'committee_name': 'Agriculture',
 'branch': 'house',
 'chair': 'GLENN "GT" THOMPSON',
 'link': 'https://www.congress.gov/committee/house-agriculture/hsag00'}

In [19]:
## retrieve the committee name
ag_com.get("committee_name")

'Agriculture'

In [20]:
ag_com["committee_name"]

'Agriculture'

In [21]:
## retrieve the link for more info
ag_com["link"]

'https://www.congress.gov/committee/house-agriculture/hsag00'

homework part2
## Pandas - Importing data

Please download from Google Drive <a href="https://drive.google.com/file/d/1lN5Eh2wz_DDOlcI7as9gQcmUALNqs0_y/view?usp=share_link">this data</a>.

In [22]:
## import the pandas library in this cell
import numpy as np
import pandas as pd

Ingest the following dataset into this note:
ems_2019_first_6_months.csv into a dataframe named ems_19_first_df

In [38]:
## import data and store in dataframe
first6months2019 = pd.read_csv('/content/ems_2019_first_6_months.csv')

In [39]:
## call the first 10 rows
first6months2019.iloc[:10]

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
0,190010111,2019-01-01 00:24:51,SICK,6.0,SICK,6.0,01/01/2019 12:25:28 AM,Y,37.0,01/01/2019 12:25:56 AM,...,9.0,2.0,103.0,1.0,12.0,N,N,N,N,chunk10.csv
1,190010112,2019-01-01 00:25:22,DRUG,4.0,DRUG,4.0,01/01/2019 12:25:39 AM,Y,17.0,01/01/2019 12:26:03 AM,...,23.0,9.0,111.0,4.0,13.0,N,N,N,N,chunk10.csv
2,190010113,2019-01-01 00:25:52,DRUG,4.0,DRUG,4.0,01/01/2019 12:25:57 AM,Y,5.0,01/01/2019 12:26:11 AM,...,63.0,45.0,318.0,22.0,8.0,N,N,N,N,chunk13.csv
3,190010114,2019-01-01 00:25:52,OBMAJ,3.0,OBMAJ,3.0,01/01/2019 12:26:13 AM,Y,21.0,01/01/2019 12:26:24 AM,...,106.0,32.0,410.0,27.0,8.0,N,N,N,N,chunk14.csv
4,190010115,2019-01-01 00:26:03,EDP,7.0,EDP,7.0,01/01/2019 12:26:12 AM,Y,9.0,01/01/2019 12:26:29 AM,...,101.0,31.0,414.0,27.0,5.0,N,N,N,N,chunk14.csv
5,190073272,2019-01-07 17:49:43,EDP,7.0,EDP,7.0,01/07/2019 05:49:50 PM,Y,7.0,01/07/2019 05:50:04 PM,...,17.0,5.0,106.0,2.0,12.0,N,N,N,N,chunk149.csv
6,190073416,2019-01-07 18:27:54,EDP,7.0,EDP,7.0,01/07/2019 06:28:33 PM,Y,39.0,01/07/2019 06:28:44 PM,...,6.0,3.0,102.0,2.0,10.0,N,N,N,N,chunk149.csv
7,190081434,2019-01-08 10:28:31,UNKNOW,4.0,UNKNOW,4.0,01/08/2019 10:29:19 AM,Y,48.0,01/08/2019 10:29:36 AM,...,NaN,NaN,NaN,NaN,NaN,N,N,N,N,chunk149.csv
8,190081743,2019-01-08 11:43:35,UNKNOW,4.0,UNKNOW,4.0,01/08/2019 11:43:47 AM,Y,12.0,01/08/2019 11:43:55 AM,...,7.0,1.0,103.0,2.0,12.0,N,N,N,N,chunk149.csv
9,190081744,2019-01-08 11:43:48,EDP,7.0,EDP,7.0,01/08/2019 11:43:59 AM,Y,11.0,01/08/2019 11:44:30 AM,...,44.0,16.0,204.0,9.0,15.0,N,N,N,N,chunk149.csv

In [40]:
## call the last 5 rows
first6months2019.iloc[-5:]

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
497746,191260372,2019-05-06 03:03:17,DIFFBR,2.0,DIFFBR,2.0,05/06/2019 03:03:54 AM,Y,37.0,05/06/2019 03:04:18 AM,...,52.0,11.0,207.0,10.0,13.0,N,N,N,N,chunk154.csv
497747,191260373,2019-05-06 03:05:59,DIFFBR,2.0,DIFFBR,2.0,05/06/2019 03:06:10 AM,Y,11.0,05/06/2019 03:06:23 AM,...,102.0,32.0,409.0,27.0,7.0,N,N,N,N,chunk154.csv
497748,191260374,2019-05-06 03:06:11,SICMIN,7.0,SICMIN,7.0,05/06/2019 03:06:38 AM,Y,27.0,05/06/2019 03:07:26 AM,...,61.0,48.0,315.0,21.0,11.0,N,N,N,N,chunk154.csv
497749,191260375,2019-05-06 03:06:42,INJURY,5.0,INJURY,5.0,05/06/2019 03:06:46 AM,Y,4.0,05/06/2019 03:06:58 AM,...,67.0,41.0,317.0,18.0,9.0,N,N,N,N,chunk154.csv
497750,191260376,2019-05-06 03:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
## call a 20 random rows
first6months2019.sample(n=20)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
176603,190464522,2019-02-15 22:40:15,EDP,7.0,DRUG,4.0,02/15/2019 10:40:25 PM,Y,10.0,02/15/2019 10:41:10 PM,...,108.0,26.0,402.0,30.0,14.0,N,N,N,N,chunk151.csv
256243,190671363,2019-03-08 10:36:27,MVAINJ,4.0,MVAINJ,4.0,03/08/2019 10:37:08 AM,Y,41.0,03/08/2019 10:38:20 AM,...,49.0,13.0,211.0,11.0,14.0,N,N,N,N,chunk152.csv
104605,190292086,2019-01-29 13:36:10,UNKNOW,4.0,UNKNOW,4.0,01/29/2019 01:36:15 PM,Y,5.0,01/29/2019 01:36:34 PM,...,101.0,31.0,414.0,27.0,5.0,N,N,N,N,chunk150.csv
220312,190581315,2019-02-27 10:39:47,SICK,6.0,SICK,6.0,02/27/2019 10:39:55 AM,Y,8.0,02/27/2019 10:40:04 AM,...,110.0,25.0,404.0,24.0,6.0,N,N,N,N,chunk152.csv
4599,190030183,2019-01-03 01:24:30,INJURY,5.0,INJURY,5.0,01/03/2019 01:24:50 AM,Y,20.0,01/03/2019 01:25:04 AM,...,103.0,24.0,412.0,28.0,5.0,N,N,N,N,chunk149.csv
106741,190294428,2019-01-29 23:45:26,SICK,6.0,SICK,6.0,01/29/2019 11:45:40 PM,Y,14.0,01/29/2019 11:45:56 PM,...,47.0,12.0,212.0,11.0,16.0,N,N,N,N,chunk150.csv
304998,190790463,2019-03-20 04:38:18,SICK,6.0,SICK,6.0,03/20/2019 04:39:06 AM,Y,48.0,03/20/2019 04:39:26 AM,...,40.0,8.0,201.0,7.0,15.0,N,N,N,N,chunk152.csv
293891,190761667,2019-03-17 11:05:53,EDP,7.0,EDP,7.0,03/17/2019 11:06:22 AM,Y,29.0,03/17/2019 11:06:33 AM,...,75.0,42.0,305.0,19.0,8.0,N,N,N,N,chunk152.csv
2372,190020340,2019-01-02 02:31:00,DRUG,4.0,DRUG,4.0,01/02/2019 02:31:37 AM,Y,37.0,01/02/2019 02:32:07 AM,...,103.0,27.0,412.0,29.0,5.0,N,N,N,N,chunk149.csv
273790,190712907,2019-03-12 16:44:06,MVAINJ,4.0,MVAINJ,4.0,03/12/2019 04:44:23 PM,Y,17.0,03/12/2019 04:44:33 PM,...,75.0,42.0,305.0,19.0,8.0,N,N,N,N,chunk152.csv
162243,190432038,2019-02-12 13:22:40,INJMAJ,3.0,INJMAJ,3.0,02/12/2019 01:23:29 PM,Y,49.0,02/12/2019 01:24:52 PM,...,10.0,3.0,104.0,2.0,10.0,N,N,N,N,chunk151.csv
379800,190971494,2019-04-07 10:27:00,MVAINJ,4.0,MVAINJ,4.0,04/07/2019 10:27:09 AM,Y,9.0,04/07/2019 10:27:22 AM,...,33.0,7.0,112.0,6.0,13.0,N,N,N,N,chunk153.csv
342210,190881258,2019-03-29 09:29:23,HYPTN,7.0,HYPTN,7.0,03/29/2019 09:29:34 AM,Y,11.0,03/29/2019 09:29:46 AM,...,72.0,38.0,307.0,15.0,7.0,N,N,N,N,chunk153.csv
459600,191162748,2019-04-26 16:40:53,INJMAJ,3.0,INJMAJ,3.0,04/26/2019 04:41:45 PM,Y,52.0,04/26/2019 04:42:03 PM,...,88.0,33.0,302.0,13.0,7.0,N,N,N,N,chunk154.csv
219658,190580614,2019-02-27 06:07:42,INJURY,5.0,INJURY,5.0,02/27/2019 06:08:01 AM,Y,19.0,02/27/2019 06:08:12 AM,...,102.0,28.0,409.0,27.0,5.0,N,N,N,N,chunk152.csv
414893,191053078,2019-04-15 16:01:54,UNC,2.0,UNC,2.0,04/15/2019 04:02:48 PM,Y,54.0,04/15/2019 04:03:01 PM,...,77.0,35.0,308.0,17.0,9.0,N,N,N,N,chunk154.csv
122714,190334262,2019-02-02 22:59:46,SICK,6.0,SICK,6.0,02/03/2019 12:01:46 AM,Y,3720.0,02/03/2019 12:01:57 AM,...,44.0,16.0,204.0,9.0,15.0,N,N,N,N,chunk151.csv
240038,190631300,2019-03-04 10:09:20,SICK,6.0,SICK,6.0,03/04/2019 10:09:54 AM,Y,34.0,03/04/2019 10:10:09 AM,...,10.0,3.0,104.0,2.0,10.0,N,N,N,N,chunk152.csv
390318,190993750,2019-04-09 19:43:58,UNKNOW,4.0,UNKNOW,4.0,04/09/2019 07:44:11 PM,Y,13.0,04/09/2019 07:44:39 PM,...,67.0,45.0,317.0,18.0,9.0,N,N,N,N,chunk153.csv
155363,190413066,2019-02-10 19:08:38,SICK,6.0,SICK,6.0,02/10/2019 07:08:51 PM,Y,13.0,02/10/2019 07:09:14 PM,...,62.0,43.0,311.0,20.0,11.0,N,N,N,N,chunk151.csv

In [42]:
## get basic overview of the data
first6months2019.describe()

,CAD_INCIDENT_ID,INITIAL_SEVERITY_LEVEL_CODE,FINAL_SEVERITY_LEVEL_CODE,DISPATCH_RESPONSE_SECONDS_QY,INCIDENT_RESPONSE_SECONDS_QY,INCIDENT_TRAVEL_TM_SECONDS_QY,INCIDENT_DISPOSITION_CODE,ZIPCODE,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT
count,4.977510e+05,497750.000000,497750.000000,497750.000000,481917.000000,482001.000000,494264.000000,491916.000000,491926.000000,491904.000000,491925.000000,491606.000000,491904.000000
mean,1.906471e+08,4.274985,4.183588,88.272088,613.376335,526.595806,84.803154,10732.165508,61.534674,22.964650,261.024298,14.704812,10.661560
std,3.548693e+05,1.712519,1.695320,579.955121,738.906126,407.268796,4.637313,548.388424,34.130861,14.982066,118.062403,9.594803,3.340263
min,1.900100e+08,1.000000,1.000000,0.000000,0.000000,0.000000,82.000000,10000.000000,1.000000,1.000000,101.000000,1.000000,3.000000
25%,1.903417e+08,3.000000,3.000000,11.000000,326.000000,297.000000,82.000000,10280.000000,34.000000,9.000000,112.000000,6.000000,8.000000
50%,1.906521e+08,4.000000,4.000000,20.000000,465.000000,429.000000,82.000000,10470.000000,60.000000,20.000000,301.000000,13.000000,11.000000
75%,1.909534e+08,6.000000,6.000000,40.000000,684.000000,628.000000,90.000000,11226.000000,88.000000,36.000000,317.000000,23.000000,13.000000
max,1.912729e+08,9.000000,8.000000,32223.000000,32256.000000,16381.000000,96.000000,11697.000000,123.000000,51.000000,595.000000,32.000000,16.000000

In [43]:
## what datatypes do the different columns hold?
first6months2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497751 entries, 0 to 497750
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   CAD_INCIDENT_ID                 497751 non-null  int64
 1   INCIDENT_DATETIME               497751 non-null  object
 2   INITIAL_CALL_TYPE               497750 non-null  object
 3   INITIAL_SEVERITY_LEVEL_CODE     497750 non-null  float64
 4   FINAL_CALL_TYPE                 497750 non-null  object
 5   FINAL_SEVERITY_LEVEL_CODE       497750 non-null  float64
 6   FIRST_ASSIGNMENT_DATETIME       494985 non-null  object
 7   VALID_DISPATCH_RSPNS_TIME_INDC  497750 non-null  object
 8   DISPATCH_RESPONSE_SECONDS_QY    497750 non-null  float64
 9   FIRST_ACTIVATION_DATETIME       494385 non-null  object
 10  FIRST_ON_SCENE_DATETIME         482001 non-null  object
 11  VALID_INCIDENT_RSPNS_TIME_INDC  497750 non-null  object
 12  INCIDENT_RESPONSE_SECONDS_QY    481917 non-null  float64
 13  INCIDENT_TRAVEL_TM_SECONDS_QY   482001 non-null  float64
 14  FIRST_TO_HOSP_DATETIME          351147 non-null  object
 15  FIRST_HOSP_ARRIVAL_DATETIME     348702 non-null  object
 16  INCIDENT_CLOSE_DATETIME         497639 non-null  object
 17  HELD_INDICATOR                  497750 non-null  object
 18  INCIDENT_DISPOSITION_CODE       494264 non-null  float64
 19  BOROUGH                         497750 non-null  object
 20  INCIDENT_DISPATCH_AREA          497750 non-null  object
 21  ZIPCODE                         491916 non-null  float64
 22  POLICEPRECINCT                  491926 non-null  float64
 23  CITYCOUNCILDISTRICT             491904 non-null  float64
 24  COMMUNITYDISTRICT               491925 non-null  float64
 25  COMMUNITYSCHOOLDISTRICT         491606 non-null  float64
 26  CONGRESSIONALDISTRICT           491904 non-null  float64
 27  REOPEN_INDICATOR                497750 non-null  object
 28  SPECIAL_EVENT_INDICATOR         497750 non-null  object
 29  STANDBY_INDICATOR               497750 non-null  object
 30  TRANSFER_INDICATOR              497750 non-null  object
 31  source                          497750 non-null  object
dtypes: float64(12), int64(1), object(19)
memory usage: 121.5+ MB

In [44]:
## how many rows and columns are there?
first6months2019.shape

(497751, 32)

In three separate cells, ingest the 3 other related datasets into this notebook:
ems_2019_last_6_months.csv into a dataframe named ems_19_last_df
ems_2020_first_6_months.csv into a dataframe named ems_20_first_df
ems_2020_last_6_months.csv into a dataframe named ems_20_last_df

We want to combine all 4 dataframes so we can run an analysis on the combined dataframes

In [48]:
### For last 6 months of 2019
## call the dataframe to see what you have
last6months2019 = pd.read_csv("/content/ems_2019_last_6_months.csv")

last6months2019.head()

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
0,191853909,2019-07-04 21:07:53,DRUG,4,DRUG,4,07/04/2019 09:08:16 PM,Y,23,07/04/2019 09:08:26 PM,...,NaN,NaN,NaN,NaN,NaN,N,N,N,N,chunk157.csv
1,191864927,2019-07-05 21:09:53,MVAINJ,4,MVAINJ,4,07/05/2019 09:10:10 PM,Y,17,07/05/2019 09:10:20 PM,...,NaN,NaN,NaN,NaN,NaN,N,N,N,N,chunk157.csv
2,191870823,2019-07-06 05:32:12,INJURY,5,INJURY,5,07/06/2019 05:32:49 AM,Y,37,07/06/2019 05:33:40 AM,...,47.0,12.0,212.0,11.0,16.0,N,N,N,N,chunk157.csv
3,191870824,2019-07-06 05:33:49,UNC,2,UNC,2,07/06/2019 05:33:57 AM,Y,8,07/06/2019 05:34:25 AM,...,32.0,9.0,110.0,5.0,13.0,N,N,N,N,chunk157.csv
4,191870897,2019-07-06 06:20:26,INJURY,5,INJURY,5,07/06/2019 06:20:43 AM,Y,17,07/06/2019 06:20:53 AM,...,NaN,NaN,NaN,NaN,NaN,N,N,N,N,chunk157.csv

In [49]:
### For first 6 months of 2020
## call the dataframe to see what you have
first6months2020 = pd.read_csv("/content/ems_2020_first_6_months.csv")

first6months2020.head()

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
0,201012966,2020-04-10 14:36:07,SICK,6,SICK,6,04/10/2020 02:36:37 PM,Y,30,04/10/2020 02:37:36 PM,...,101.0,31.0,414.0,27.0,5.0,N,N,N,N,chunk148.csv
1,201013858,2020-04-10 17:37:57,SICKFC,6,SICKFC,6,04/10/2020 05:56:30 PM,Y,1113,04/10/2020 05:56:30 PM,...,42.0,17.0,203.0,12.0,15.0,N,N,N,N,chunk148.csv
2,201013897,2020-04-10 17:46:07,HYPTN,7,HYPTN,7,04/10/2020 05:51:43 PM,Y,336,04/10/2020 05:51:47 PM,...,62.0,43.0,311.0,20.0,11.0,N,N,N,N,chunk148.csv
3,201014048,2020-04-10 18:19:32,SICKFC,6,SICKFC,6,04/10/2020 06:19:54 PM,Y,22,04/10/2020 06:23:23 PM,...,52.0,14.0,207.0,10.0,13.0,N,N,N,N,chunk148.csv
4,201014049,2020-04-10 18:19:33,INJURY,5,INJURY,5,04/10/2020 06:25:55 PM,Y,382,04/10/2020 06:26:14 PM,...,103.0,27.0,412.0,28.0,5.0,N,N,N,N,chunk148.csv

In [50]:
### For last 6 months of 2020
## call the dataframe to see what you have
last6months2020 = pd.read_csv("/content/ems_2020_last_6_months.csv")

last6months2020.head()

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
0,201853344,2020-07-03 19:51:35,MVAINJ,4.0,MVAINJ,4.0,07/03/2020 07:52:54 PM,Y,79.0,07/03/2020 07:53:13 PM,...,NaN,NaN,NaN,NaN,NaN,N,N,N,N,chunk172.csv
1,201861781,2020-07-04 13:38:45,INJURY,5.0,INJURY,5.0,07/04/2020 01:38:55 PM,Y,10.0,07/04/2020 01:39:01 PM,...,20.0,3.0,107.0,3.0,10.0,N,N,N,N,chunk172.csv
2,201862931,2020-07-04 19:06:08,INJURY,5.0,INJURY,5.0,07/04/2020 07:06:34 PM,Y,26.0,07/04/2020 07:06:53 PM,...,60.0,47.0,313.0,21.0,8.0,N,N,N,N,chunk172.csv
3,201870048,2020-07-05 00:09:31,SICK,6.0,SICK,6.0,NaN,N,0.0,NaN,...,46.0,14.0,205.0,10.0,15.0,N,N,N,N,chunk172.csv
4,201870159,2020-07-05 00:31:24,EDPC,7.0,SICK,6.0,NaN,N,0.0,NaN,...,43.0,17.0,209.0,12.0,15.0,N,N,N,N,chunk172.csv

Combine the 4 dataframes

In [73]:
## create a list to combine all 
listofall = []

listofall = listofall.append(first6months2019)

In [55]:
## combine (concat) the dfs
combined = pd.concat([first6months2019, last6months2019, first6months2020, last6months2020])

#### Programmatically (not with a calculator) confirm that their row totals add up to the correct number

In [56]:
## how many rows does the combined df have
len(combined)

967862

In [59]:
## get total rows when you add up all the individual dataframes
df1 = len(first6months2019)
df2 = len(last6months2019)
df3 = len(first6months2020)
df4 = len(last6months2020)

combinedAmount = df1 + df2 + df3 + df4
combinedAmount

967862

Ingest Massive Dataset
Step 1. Open global_temps.csv in Excel first. What happened?

Step 2. Open this data set in Pandas.

In [65]:
## import global_temps.csv into a df called temps_df
temps_df = pd.read_csv("/content/global_temps.csv")

How many rows of data does this dataset have?

In [66]:
## How many rows?
len(temps_df)

656688

Targeting an Excel sheet
We need the Customs and Border Protection data in this multi-data.xlsx workbook.

Note that this is an excerpt of the actual CBP data.

In [70]:
### import it here
multidata_df = pd.read_excel("/content/multi-data.xlsx", sheet_name=None)

In [ ]:
## call the top 15 rows
multidata_df.head